<footer class="page-footer font-small bg-dark fixed-bottom justify-content-between align-items-center">
	<div class="footer-copyright text-center py-3 text-light">© 2024 PC GAMING
		<ul class="list-unstyled d-flex justify-content-center mb-0">
			<li class="ms-3">
				<a class="text-white" href="https://twitter.com/">Twitter</a>
			</li>
			<li class="ms-3">
				<a class="text-white" href="https://facebook.com/">Facebook</a>
			</li>
			<li class="ms-3">
				<a class="text-white" href="https://instagram.com/">Instagram</a>
			</li>
		</ul>
	</div>
</footer>
