<nav class="navbar border-bottom border-2 border-black bg-white">
    <div class="container-fluid m-3">
        <a class="logo" href="{{ path('app_index') }}">PC GAMING</a>
        <a href="{{ path('app_login') }}" class="btn btn-success">Iniciar Sesión</a>
    </div>
</nav>