{% extends 'base.html.twig' %}

{% block title %}Pedidos index
{% endblock %}

{% block body %}
	{% include 'partials/navbar.html.twig' %}
	<div class="bg-info py-4">
		<div class="container mx-auto px-4">
			<h1 class="text-6xl text-white text-center">
				Pedidos
			</h1>
		</div>
	</div>

	<div class="container mx-auto px-4 py-8">
		{% if pedidos is empty%}
			<div class="bg-white rounded shadow overflow-hidden relative">
				<div class="px-6 py-4">
					<div class="font-bold text-xl mb-2">No hay pedidos</div>
				</div>
			</div>

		{% else %}
			<div class="d-flex justify-content-center bg-white rounded shadow relative p-2">
				<table class="table-responsive border-separate border-spacing-3 w-100 text-center">
					<thead>
						<tr class="border-dashed">
							<th>Producto</th>
							<th>Cantidad</th>
							<th>Estado</th>
							<th>Fecha Pedido</th>
						</tr>
					</thead>
					<tbody>
						{% for pedido in pedidos %}
							<tr>
								<td>{{ pedido.Producto.Nombre }}</td>
								<td>{{ pedido.Cantidad }}</td>
								<td>{{ pedido.Estado == 0 ? 'Preparando' : pedido.Estado == 1 ? 'En Reparto' : 'Enviado' }}</td>
								<td>{{ pedido.FechaPedido ? pedido.FechaPedido|date('Y-m-d') : '' }}</td>

							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		{% endif %}
	</div>
{% endblock %}
