{% extends 'base.html.twig' %}

{% block title %}Mis Pedidos
{% endblock %}

{% block body %}
	{% include 'partials/navbar.html.twig' %}
	<div class="bg-info py-4">
		<div class="container mx-auto px-4">
			<h1 class="text-6xl text-white text-center">
				Pedidos
			</h1>
		</div>
	</div>
	<main class="container-fluid px-3 pt-3 pb-5 mb-5" style="min-height:80vh;">
		<div class="row g-3 justify-content-center">
			{% if pedidos %}
				{% for pedido in pedidos %}
					<a href="{{ path('pedido_detalle', {id: pedido.id}) }}" class="d-flex flex-column bg-white p-3 btn btn-light rounded shadow text-center col-sm-6 col-md-4 col-lg-2 mx-5 py-4 border border-gry">
						<div class="mx-3">
							<h4 class="mx-2">Codigo de Pedido: {{ pedido.codigo }}</h4>
							<p class="mx-2">Fecha de compra: {{ pedido.fecha.format('d-m-Y') }}</p>
							<h5 class="precio"> Estado: {{ pedido.estado == 0 ? 'Preparando' : pedido.Estado == 1 ? 'En Reparto' : 'Enviado'  }}</h5>
						</div>
					</a>
				{% endfor %}
			{% else %}
				<div class="d-flex flex-column bg-white p-3 btn btn-light rounded shadow text-center mx-5 py-4 border border-gry">
					No se encontraron pedidos.
				</div>
			{% endif %}
		</div>
	</main>
	{% include 'partials/footer.html.twig' %}
{% endblock %}
