/* @import "tailwindcss"; */

body {
    background-color: lightgray;
}

.btn-sin-estilo {
  background-color: transparent !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}