{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!
{% endblock %}

{% block body %}
	{% include 'partials/navbar.html.twig' %}

	<div class="container mx-auto px-4 py-8">

		{% for producto in productos %}
			<div class="bg-white rounded-lg shadow-lg overflow-hidden relative">
				<div class="px-4 py-4">
					<div class="font-bold text-xl mb-2">{{ producto.Nombre }}</div>
					<p class="text-gray-700 text-base">{{ producto.Descripcion|slice(0,100) }}...</p>
					<p class="text-gray-700 text-base">{{ producto.Precio }}€</p>
					<div class="flex justify-center my-3">
						<div class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded-l text-xs">
							<a href="" class="font-bold py-2 px-4">
								<i class="fas fa-eye"></i>
								View
							</a>
						</div>
						<div class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-r text-xs">
							<a href="" class="font-bold py-2 px-4">
								<i class="fas fa-edit"></i>
								Add to Cart
							</a>
						</div>
					</div>
				</div>
			</div>
			<tr>
				<td>{{ producto.Nombre }}</td>
				<td>
					
				</td>
			</tr>
		{% endfor %}
	</div>
	<h1>Hello
						✅</h1>

	This friendly message is coming from:
	<ul>
		<li>Your controller at
			<code>C:/xampp/htdocs/Proyecto-FP/proyecto-fp/pc-gaming/src/Controller/IndexController.php</code>
		</li>
		<li>Your template at
			<code>C:/xampp/htdocs/Proyecto-FP/proyecto-fp/pc-gaming/templates/index/index.html.twig</code>
		</li>
	</ul>
{% endblock %}
