<nav class="flex items-center justify-between flex-wrap bg-blue-500 p-6">
    <div class="flex items-center flex-shrink-0 m-5 mr-6">
        <span class="font-semibold text-xl tracking-tight">PC GAMING</span>
    </div>
    <div class="w-full block lg:items-center lg:w-auto">
        <div class="text-sm flex justify-end">
            <a
                href="{{ path('app_login') }}"
                class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-gray-800 hover:bg-white mt-4 lg:mt-0 m-5"
            >
                Login
            </a>
        </div>
    </div>
</nav>
