{% extends 'base.html.twig' %}

{% block title %}Edit Pedidos
{% endblock %}

{% block body %}
	{% include 'partials/navbar.html.twig' %}
	<div class="bg-dark py-4">
		<div class="container mx-auto px-4">
			<h1 class="text-6xl text-white text-center">
				Edit Pedido de
				{{pedido.Usuario.nombre }}. Producto:
				{{ pedido.Producto.nombre }}
			</h1>
		</div>
	</div>
	<div class="container mx-auto px-4 py-8 m-3">
		<div class="bg-white rounded shadow relative p-3">
			{{ include('pedidos/_form.html.twig', {'button_label': 'Update'}) }}
		</div>
	</div>
{% endblock %}
