{% extends 'base.html.twig' %}

{% block title %}PC Gaminng
{% endblock %}

{% block body %}
	{% include 'partials/navbar_logout.html.twig' %}

	<div class="container mx-auto px-4 py-8">

		<div class="w-auto">
			<div class="bg-white rounded-lg shadow-lg text-center px-6 py-4">
				<h1 class="display-1">404 - Not Found</h1>
				<br>
                <h4 class="text-gray-700 text-base">
                    No se a podido encrontrar nada en esta ruta.
                </h4>
			</div>
		</div>
	</div>
{% endblock %}
